.comment-list {
  @extend .list-unstyled;

  .children {
    list-style: none;
  }
}

.comment-form {
  margin: map-get($spacers, 3) 0;

  p {
    @extend .form-group;
  }

  input,
  textarea {
    @extend .form-control;

    &:focus {
      background-color: #fff;
      border-color: $black;
    }
  }

  input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;

    width: auto;
  }
}
