/** Search form */
.search-form {
  @extend .form-inline;

  label {
    @extend .form-group;

    margin-bottom: 0;
    font-weight: normal;
  }

  .search-field {
    @extend .form-control;

    &:focus {
      background-color: #fff;
      border-color: map-get($theme-colors, dark);
    }
  }

  .search-submit {
    @extend .btn;
    @extend .btn-primary;

    margin: 0 map-get($spacers, 3);
  }
}
