.gallery {
  margin: map-get($spacers, 3) 0;
}

.gallery-item {
  display: inline-block;
  margin-bottom: map-get($spacers, 3);
  text-align: center;
  vertical-align: top;
  width: 100%;

  @for $i from 1 to 10 {
    .gallery-columns-#{$i} & {
      max-width: 100% / $i;
    }
  }
}
