.recent {
  margin-bottom: map-get($spacers, 5);

  .entry-header {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  }

  &.has-post-thumbnail {
    position: relative;

    .entry-header {
      position: absolute;
      top: 0;
      left: $spacer;
    }
  }
}
