@include media-breakpoint-up(lg) {
  .content-info {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 301px;
    width: 100%;
    z-index: -1;
  }
}

.site-info {
  border-top: 1px solid $gray-600;
  text-align: center;

  @include media-breakpoint-up(lg) {
    text-align: right;
  }
}
