.front-page-section {
  padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 5);

  .section-title {
    position: relative;
    margin-bottom: map-get($spacers, 3);
    text-transform: uppercase;

    a {
      color: $text-muted;
      font-style: italic;
      text-decoration: none;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $black;
      content: '';
      height: 0.05rem;
      width: 10%;
    }
  }
}
