@mixin nav-link {
  border: 1px solid transparent;
  color: $text-muted;
  padding: map-get($spacers, 3);
  text-decoration: none;

  @include hover {
    border-bottom-color: map-get($theme-colors, primary);
    color: map-get($theme-colors, dark);
    text-decoration: none;
  }
}
