/* colors */
$white:  #f9f9f9;
$black:  #212529;
$peach:  #fbceb1;
$blue:   #8179c8;
$green:  #d0fccb;

/* fonts */
$sans:  "proxima-nova", "Helvetica Neue", "Arial", sans-serif;
$serif: "freight-text-pro", "Georgia", serif;
$mono:  "Inconsolata", "SFMono-Regular", "Courier New", monospace;

/* misc */
$transition: "all 350ms ease-out";

/* Bootstrap overrides */

/**
 * Note: A side effect of declaring Bootstrap overrides here is that
 * if you intend on using the `theme-colors` map, you'll get errors
 * because not all of the color variables exist yet. Instead, you must
 * define all colors in the map, even ones you don't intend on
 * changing. This is a pain, but it's probably worth it, given the
 * sheer number of Bootstrap variables.
 */
$red:     #dc3545;
$yellow:  #ffc107;
$cyan:    #17a2b8;

$theme-colors: (
  primary: $blue,
  secondary: $peach,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $white,
  dark: $black
);

$link-color:       map-get($theme-colors, dark);
$link-hover-color: map-get($theme-colors, primary);

$font-family-sans-serif: $sans;
$font-family-monospace:  $mono;
$font-family-base:       $font-family-sans-serif;
$headings-font-family:   $serif;
$headings-font-weight:   300;

$code-color: map-get($theme-colors, light);
$code-bg:    map-get($theme-colors, dark);

$kbd-color: map-get($theme-colors, light);
$kbd-bg:    map-get($theme-colors, dark);
